*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F8F3E7;
    color:#242424;
    font-family:'Poppins',sans-serif;
}


header{
    background:#16423C;
    padding:20px 8%;
}


.logo{
    color:#C6A15B;
    font-family:'Playfair Display',serif;
    font-size:30px;
}


nav a{
    color:#FFFFFF;
}


nav a:hover{
    color:#C6A15B;
}


.hero{
    background:#F8F3E7;
}


.hero h1{
    color:#16423C;
    font-family:'Playfair Display',serif;
}


.hero h2{
    color:#3D4548;
}


.tagline{
    color:#C6A15B;
}


.btn{
    background:#16423C;
    color:white;
}


.btn:hover{
    background:#C6A15B;
    color:#242424;
}



.image-frame{
    border:4px solid #C6A15B;
    background:white;
}



.section-title h2{
    color:#16423C;
    font-family:'Playfair Display',serif;
}



.card{
    background:#FFFFFF;
    border-top:5px solid #C6A15B;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}



.card h3{
    color:#16423C;
}



.card h4{
    color:#C6A15B;
}



.timeline-box{
    background:#FFFFFF;
    border-left:5px solid #16423C;
}



.timeline-box h3{
    color:#16423C;
}



.contact-box{
    background:#FFFFFF;
    border-radius:25px;
    padding:40px;
}



.contact-details i{
    color:#C6A15B;
    font-size:30px;
}



.social-icons a{
    background:#16423C;
    color:white;
    width:55px;
    height:55px;
    border-radius:50%;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    margin:10px;
    font-size:25px;
}



.social-icons a:hover{
    background:#C6A15B;
    color:#16423C;
}



footer{
    background:#16423C;
    color:white;
    padding:30px;
    text-align:center;
}
